.nav {
  width: 80%;
  height: 96px;
  position: absolute;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    justify-content: start;
  }
  
  &-left {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-right {
    display: none;
  }

  .wave-icon {
    width: 72px;
    height: 72px;
    padding-right: 16px;
  }

  h1 {
    font-size: 64px;
  }
}
