@import "config";
@import "header";
@import "calculator";
@import "userLanding";
@import "subredditLanding";
@import "form";
@import "mobile";

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto";
  min-height: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

#app {
  min-height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: $background-primary;
  background: repeating-linear-gradient(
    45deg,
    $background-primary,
    $background-primary 10px,
    $background-secondary 10px,
    $background-secondary 20px
  );
}

.calc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
  width: 90%;
  height: 90%;
}

.btn {
  -webkit-transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 0.2s cubic-bezier(0.39, 0.5, 0.15, 1.36);
  margin: 20px auto;
  cursor: pointer;
  max-width: 180px;
  font-size: 1rem;
  font-weight: 100;
  border: none;
  padding: 20px 30px;
  color: $calc-background;
  box-shadow: $calc-background 0 0px 0px 2px inset;
}

.btn:hover {
  color: $text-color;
  box-shadow: $calc-background 0 0px 0px 40px inset;
}
