@import "config";
@import "header";
@import "calculator";
@import "userLanding";
@import "subredditLanding";
@import "form";
@import "data";
@import "mobile";

html {
  height: 100vh;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto";
  min-height: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: $background-primary;
  background: repeating-linear-gradient(
    45deg,
    $background-primary,
    $background-primary 10px,
    $background-secondary 10px,
    $background-secondary 20px
  );
}

.calc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
  width: 90%;
  height: 90%;
}

.add-calculator {
  margin: 25px 0 25px 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: $calc-background;
  box-shadow: $box-shadow;
  border: $box-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  & :nth-child(1) {
    transform: rotate(90deg) translate(1px, 0);
    z-index: 1;
  }

  & :nth-child(2) {
    transform: translate(0, -1px);
  }
  .line {
    width: 37.5px;
    height: 2px;
    background-color: $text-color;
    margin: 0;
  }
}
